

.hero--section{
    padding: 6rem 4rem 1rem 4rem;
    background-color: #f6f8fb;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    width: 70%;
    color: #fff;
}
.hero--section p{
    color: #3f2956;
    width: 80%;
    font-family: canela text, serif;
}
.section--hero--up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.section--hero--center{
    display: flex;
    gap: 2rem;
    padding: 1rem;  
    
}
.section--hero--down{
    margin: 0;
    padding: 0;
   display: flex;
   align-items: flex-end;
}
.section--hero--down--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    width: 150px;
}

.section--hero--center__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}
.section--hero--center__img img {
    width: 80%;
}
.section--hero--center__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.section--hero--center__text h4{
    margin-top: 2rem;
}
.cta-hero{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-family: EnvyCode, monospace;
    color: #3f2956;
    transition: all 0.3s ease-in-out;
    background-color: #6122b2;
    padding: 0 0.5rem;
    color: #f4f8fe;
}

.cta-hero:hover{
    background-color: transparent;
    color: #6122b2;
    border: 1px solid #6122b2;
}  

.cta-hero::before{
    content: "Conocernos es gratis";
}

.hero--section small{
    color:#3f2956;
    font-size: 1rem;
    font-family: EnvyCode, monospace;
    font-weight: 100;
}

.menu-button{
    display: none;
}


/**************************************************************************/
/* === 🌎 ESTILOS GENERALES === */
  
  /* === 📱 MÓVIL PEQUEÑO (320px - 480px) === */
  @media (max-width: 480px) {
   
  }
  
  /* === 📱 MÓVIL MEDIANO (481px - 640px) === */
  @media (max-width: 640px) {
   /*{
        outline: 1px solid rgb(247, 55, 21); 
        
    }*/
    .section--sidebar{
        display: none;
    }
    .hero--section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        
    }
    .section--hero--up{
        justify-content: end;
        margin: 0;
        padding: 1rem 5% 0 5% ;
    }
    .section--hero--center{
        flex-direction: column-reverse;
        display: flex;
        justify-content: space-between;
        height: 80vh;

    }
    .section--hero--center__text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        height: 70%;
    }
    .section--hero--center__img  {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section--hero--center__img img {
        width: 120%;
    }
    .hero--section p{
        font-size: 1.6rem;
        width: 90%;
        font-family: canela text, serif;
    }

    .section--hero--down{
        margin: 0;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .menu-button{
        display: block;
        color: #3f295b;
        font-size: 1.2rem;
        font-family: EnvyCode, monospace;
        margin: 0;
        padding: 0;
    }
    

    .logo{
        width: 120px;

    }
    .cta-hero{
        font-size: 1.2rem;
    }
    .cta-hero::before{
        content: "WhatsApp";
        padding: 0 1rem;
        margin: 0;
        padding: 0;
    }
    
  }
  
  /* === 📱💻 TABLET (641px - 1024px) === */
  @media (max-width: 1024px) {
    
  }
  
  /* === 💻 LAPTOP PEQUEÑA (1025px - 1280px) === */
  @media (max-width: 1280px) {
    
  }
  
  /* === 🖥 ESCRITORIO ESTÁNDAR (1281px - 1440px) === */
  @media (max-width: 1440px) {
    
  }
  
  /* === 🖥 PANTALLA GRANDE (1441px - 1920px) === */
  @media (max-width: 1920px) {

  }
  
  /* === 🖥 4K y MÁS (1921px en adelante) === */
  @media (min-width: 1921px) {
}