@font-face {
  font-family: 'Canela';
  src: url('/src/assets/fonts/Canela.woff2') format('woff2'),
       url('/src/assets/fonts/Canela.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Canela', serif;
  font-weight: normal;
}